.cover-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    margin-top: 72px;
    z-index: -1; 
    opacity: 0.5;

    .landing-page-cover {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
    }

    .landing-page-cover img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
}
